html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container__fluid{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  @extend %dms-bold;
  font-size: 36px;
  color: #191919;
  margin-bottom: 20px;
}

.filter-btn{
  margin-bottom: 80px;
}

.btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  @extend %dms-bold;
  font-size: 16px;
  color: #8b8b8b;
  transition: color .5s;
}

.mixitup-control-active{
  color: #191919;
}

