@media (max-width: 1200px){
  .menu{
    &__items{
      margin-left: 0;
    }
  }
}

@media (max-width: 1050px){
  .menu{
    margin-left: 40px;
    order: 1;
    &__items{
      text-align: center;
      position: absolute;
      display: block;
      background-color: #fff;
      top: 120px;
      width: 100%;
      left: 0;
      transform: translateY(-200%);
      transition: all .5s;
      z-index: 5;
    }
    &__items--active{
      transform: translateY(0);
      transition: all .5s;
    }
    &__list{
      padding: 20px 0;
    }
    &__link{
      display: block;
      width: 100%;
    }
    &__list:not(:first-child) {
      margin-left: 0;
    }
    &__btn{
      cursor: pointer;
      width: 30px;
      height: 21px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span{
        width: 100%;
        height: 3px;
        background-color: #819faf;
        transition: opacity .3s;
      }
      &::before,
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #819faf;
        transition: transform .3s;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
      &.menu__btn--active span{
        opacity: 0;
      }
      &.menu__btn--active.menu__btn::before{
        transform: translateY(9px) rotate(135deg);
      }
      &.menu__btn--active.menu__btn::after{
        transform: translateY(-9px) rotate(-135deg);
      } 
    }
  }
  .user-nav{
    margin-left: auto;
  }
  .footer-top{
    padding-bottom: 40px;
  }
}

@media (max-width: 880px){
  .footer-top{
    flex-wrap: wrap;
    &__item--newsletter{
      width: 100%;
    }
  }
}

@media (max-width: 600px){
  .header{
    &__inner{
      flex-wrap: wrap;
    }
  }
  .user-nav{
    margin-top: 30px;
    width: 100%;
    justify-content: flex-end;
  }
  .menu{
    order: 0;
    &__items{
      top: 190px;
    }
  }
  .footer-bottom{
    font-size: 12px;
    justify-content: center;
    &__copy{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 520px){
  .footer-top{
    &__list{
      display: none;
    }
    &__item{
      width: 100%;
    }
    &__title{
      padding-top: 0;
      pointer-events: initial;
      margin: 15px 0;;
    }
    &__title--toggle{
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-right: 20px;
      &::after{
        content: '';
        position: absolute;
        width: 10px;
        height: 16px;
        top: 2px;
        right: 0;
        background-image: url('../images/icons/angle-title-toggle.svg');
        transition: all .3s;
      }
      &.footer-top__title--active.footer-top__title::after{
        transform: rotate(180deg);
        transition: all .3s;
      }
    }
  }
}

@media (max-width: 350px){
  .user-nav{
      &__item:not(:first-child) {
      margin-left: 8px;
    }
  }
}